htlm
  head
    title  D- CLIC  
    link(rel='stylesheet' href='style.css')
  .container
    .menu
      ul
        li.logo
          img(src='./image/sayna.jpg')
        li
          a(href='/Home')  Home
        li
          a(href='/BackEnd')  BackEnd
        li
          a(href='/FrontEnd')  FrontEnd
        li
          a(href='/MarketingDigital')  Marketing Digital
        li
          a(href='/UX-UI')  UX/UI
        li
          a(href='/Contact')  Contact
        // <li> <a href = "#" class="signup-btn"> <span> Sign Up </span> </a> </li>
    .banner
      .app-text
        h1
          | D-CLIC 
          br
          |  Merci de votre venu
        p  Bienvenu dans le monde du codage 
        .play-btn
          .play-btn-inner
      .app-picture
        img(src='./image/image_signup.jpg')
