* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  width: 130%;
  height: 100%;
  background: #f5f5f7;
}

.menu ul {
  display: inline-flex;
  margin: 80px;
}

.menu ul li {
  list-style: none;
  margin: 0 20px;
  color: #0e0101;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.548);
}

.logo img {
  width: 200px;
  margin-top: -7px;
  margin-right: 50px;
}

.active {
  color: #19dafa !important;
}

.signup-btn {
  top: 40px;
  right: 80px;
  position: absolute;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#42455a, #42455a),
    radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.signup-btn span {
  display: block;
  padding: 8px 22px;
}

.banner {
  width: 80%;
  height: 70%;
  top: 25%;
  left: 130px;
  position: absolute;
  color: rgb(19, 18, 18);
}

.app-text {
  width: 50%;
  float: left;
}

.app-text h1 {
  font-size: 40px;
  width: 500px;
  position: relative;
  margin-left: 40px;
}

.app-text p {
  width: 650%;
  font-size: 20px;
  margin: 30px 0 30px 40px;
  line-height: 30px;
  color: #0c0c0c;
}

.app-picture {
  width: 50%;
  float: right;
}

.app-picture img {
  width: 100%;
}

.app-picture-uxui img {
  width: 35%;
}

.app-picture-index img {
  width: 40%;
}

.app-picture-frontend img {
  width: 40%;
}

.app-picture-marketing img {
  width: 30%;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1.comms {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  /* margin: 50px; */
  text-align: center;
  padding-left: 0px;
padding-bottom: 0px;
padding-right: 29px;
border-radius: 40px;
}

.title {
  color: grey;
  font-size: 18px;
}


.bg-dark {
  background-color: #0e0101;
  color: rgb(255, 253, 253);
  padding: 10px;
  width: 100%;
  bottom: 0;
}
.bg-dark:hover{
  opacity: 0.7;
}

.box {
  padding:20px 20px 20px;
  margin-top:50px ;
  margin-left:20px ;
}
.card>*{
  padding: 15px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}
/* ppppppppppppppppppppppppppppppppppppppppppppppppppp */
/* *,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: url("https://cbwconline.com/IMG/Codepen/Dark-Grey-Repeating-Background.png");
}

body {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.6) 100%);
  height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: Roboto;
}

.modal {
  height: 400px;
  width: 650px;
  margin: auto;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0;
}

.side {
  background: linear-gradient(-45deg, #001f60, #009de0);
  height: 100%;
  width: 100%;
  position: relative;
}
.side .skew {
  background: #f6f6f6;
  height: 110%;
  width: 45%;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -5%;
  z-index: 5;
  transform: skew(8deg);
}
.side .skew * {
  transform: skew(-8deg);
}
.side .skew h3 {
  color: #474747;
  font: 25px Roboto;
  text-align: center;
}
.side .skew img {
  width: 100%;
  margin: 25px 0;
}
.side .skew .btn {
  background: #474747;
  width: 180px;
  margin: 10px auto;
  padding: 10px 18px;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  cursor: default;
}

.header {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
}
.header h1 {
  background: linear-gradient(-45deg, #2ed6bc, #01bce6);
  padding: 10px 25px;
  font: 25px Roboto;
}

.form {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 56px;
  right: 0;
}

input,
select,
fieldset,
button {
  border: none;
  outline: none;
  font: 16px Roboto;
}

fieldset {
  display: block;
}

label {
  display: block;
  color: #01bce6;
  font: 500 13px Roboto;
}

input,
select {
  background: rgba(255, 255, 255, 0.18);
  padding: 8px 12px;
  margin: 5px 5px 5px 0;
  border-radius: 3px;
  color: #fff;
}
input:nth-last-of-type(1),
select:nth-last-of-type(1) {
  margin-right: 0;
}

option {
  background: #474747;
}

.number input {
  width: calc(25% - 7px);
}

.name input {
  width: 100%;
}

.exp,
.ccv {
  display: inline-block;
}

.exp {
  width: 60%;
}
.exp select {
  width: calc(50% - 5px);
}

.ccv {
  width: 40%;
}
.ccv input {
  width: 100%;
}

button {
  display: block;
  background: linear-gradient(-45deg, #2ed6bc, #01bce6);
  width: 200px;
  color: white;
  padding: 10px 18px;
  margin: 40px auto;
  font-size: 18px;
  border-radius: 22px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
} */